[submodule "dust/src"]
	path = dust/src
	url = https://github.com/jcaesar/dust
[submodule "dust-wasi/src"]
	path = dust-wasi/src
	url = https://github.com/jcaesar/dust
[submodule "exa-wasi/src"]
	path = exa-wasi/src
	url = https://github.com/jcaesar/exa
[submodule "rq/src"]
	path = rq/src
	url = https://github.com/jcaesar/rq
[submodule "starlark/sl-cmd"]
	path = starlark/sl-cmd
	url = https://github.com/jcaesar/sl-cmd
[submodule "starlark/src"]
	path = starlark/src
	url = https://github.com/jcaesar/sl-cmd
[submodule "fd/src"]
	path = fd/src
	url = https://github.com/jcaesar/fd
[submodule "sam/src"]
	path = sam/src
	url = https://github.com/RaafatTurki/SAM
[submodule "wasm-custom-section/src"]
	path = wasm-custom-section/src
	url = https://github.com/xtuc/wasm-custom-section
[submodule "zola/src"]
	path = zola/src
	url = https://github.com/dstaley/zola/
	branch = wasm
[submodule "omekasy-wasi/src"]
	path = omekasy-wasi/src
	url = https://github.com/ikanago/omekasy
[submodule "upx/src"]
	path = upx/src
	url = https://github.com/jcaesar/fork-upx/
	branch = jmp
[submodule "wordle"]
	path = wordle/src
	url = https://github.com/jcaesar/fork-wordle
[submodule "binaryen/src"]
	path = binaryen/src
	url = https://github.com/jcaesar/fork-binaryen/
