[submodule "dust/src"]
	path = dust/src
	url = https://github.com/jcaesar/dust
[submodule "dust-wasi/src"]
	path = dust-wasi/src
	url = https://github.com/jcaesar/dust
[submodule "exa-wasi/src"]
	path = exa-wasi/src
	url = https://github.com/jcaesar/exa
[submodule "rq/src"]
	path = rq/src
	url = https://github.com/jcaesar/rq
[submodule "starlark/sl-cmd"]
	path = starlark/sl-cmd
	url = https://github.com/jcaesar/sl-cmd
[submodule "starlark/src"]
	path = starlark/src
	url = https://github.com/jcaesar/sl-cmd
